# Ignore debugging data output files
*.dmp
*.DMP

# Ignore compiled object files
obj/

# Ignore executables
*.exe
sneese

# Ignore configuration files
sneese.cfg
sneesew.cfg

# Ignore Eclipse files
.project
.cproject

